# .NET 构建产物
**/bin/
**/obj/
**/R2R/

# 发布产物
dist/
*.publishsettings
publish/

# 用户专属配置
*.user
*.suo
*.userprefs
*.vs/
.idea/
.vscode/

# 单文件发布解压目录残留
.patched.tmp
*.bak
debug.txt
presets.json

# 日志和截图
*.log
*.png
*.jpg

# 系统垃圾
Thumbs.db
desktop.ini
.DS_Store

# 临时文件
*.tmp
*.temp
